body{

}
.top{
    background: #1B7CAD
}
.back{
    height: 100%;
    width: 100%;
}

main .logo {
    font-size: 40px;
    margin-left: 20px;
    font-weight: bold;
    position: relative;
    color: #CAE8FF
}
main .mainmenu{
    color: #CAE8FF
}
table {
   width: 100%;
   vertical-align: middle;
}
.tab {
    width: 50%;
    vertical-align: middle;
    font-size: 24px;
}

h1 {
    text-align: center;
}
.left {
    position: absolute;
}
.right {
    text-align: right;
}
li {
  list-style-type: none;
}
.rules {
    text-align: center;
}
.last {
    font-size: 24px;
}
canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.rules {
    font-size: 24px;
    float: center;
    width: 90%;
    padding: 10px;
    margin: 12px 5%;
    background: #CAE8FF;
    border-radius: 30px;

}
a.btn{
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
color: #fff;
display: inline-block
width:115px;
font-size: 24px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
padding: 8px 16px;
margin: 20px auto;
text-decoration: none;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: background-color 0.1s linear;
-moz-transition: background-color 0.1s linear;
-o-transition: background-color 0.1s linear;
transition: background-color 0.1s linear;
background-color: rgb( 27, 124, 173 );
border: 1px solid rgb( 20, 91, 127 );
}

a.btn:hover {
background-color: rgb( 82, 164, 206 );
}

button.btn2{
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
color: #fff;
display:block;
width:auto;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 24px;
padding: 8px 16px;
margin: 20px auto;
text-decoration: none;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: background-color 0.1s linear;
-moz-transition: background-color 0.1s linear;
-o-transition: background-color 0.1s linear;
transition: background-color 0.1s linear;
background-color: rgb( 27, 124, 173 );
border: 1px solid rgb( 20, 91, 127 );
}

button.btn2:hover {
background-color: rgb( 82, 164, 206 );
}
a.btn3{
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
color: #fff;
width:115px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 24px;
padding: 8px 16px;
margin: 20px auto;
text-decoration: none;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: background-color 0.1s linear;
-moz-transition: background-color 0.1s linear;
-o-transition: background-color 0.1s linear;
transition: background-color 0.1s linear;
background-color: rgb( 27, 124, 173 );
border: 1px solid rgb( 20, 91, 127 );
}

a.btn3:hover {
background-color: rgb( 82, 164, 206 );
}



.form {
   margin:0 25% 0 25%;
   width:50%;;
}
